
body {
    background-color: lightgray;
    padding-left: 200px;
}
.grid {
    width: 175px;
    height: 175px;
    margin: 5px;

}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: lightgray;
  }